/*InspectorControls 自作マージンコントロール*/
.margin0 {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.margin20 {
	margin-bottom: 20px !important;
	margin-top: 20px !important;
}

.margin40 {
	margin-bottom: 40px !important;
	margin-top: 40px !important;
}

.margin60 {
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}

.margin80 {
	margin-bottom: 80px !important;
	margin-top: 80px !important;
}

/*Buttons*/
.wp-block-button__link {
	background: #F27179;
	border-radius: 30px;
	padding: 8px 10px 8px 20px;
	line-height: 34px;
}

.wp-block-button__link:after {
	content: '\f344';
	font-family: dashicons;
	background: #fff;
	color: #F27179;
	border-radius: 50%;
	padding: 4px;
	font-size: 24px;
	margin-left: 20px;
	vertical-align: middle;
}

/*Toppage Gallery*/
.wp-block-group.is-style-slider .wp-block-group__inner-container {
	display: flex;
	overflow-y: auto;
	scroll-snap-type: x mandatory;
}

.wp-block-group.is-style-slider .wp-block {
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: start;
}

.wp-block-group.is-style-slider .block-editor-block-list__block {
	margin-top: 0;
	margin-bottom: 0;
}